@model PK2237A5.Models.ShowWithInfoViewModel

@{
    ViewBag.Title = "Details";
    var RequestUser = new PK2237A5.Controllers.RequestUser(User as System.Security.Claims.ClaimsPrincipal);
}

<h2>@Model.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <div class="row">
            <dt class="col-md-2 text-end">
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd class="col-md-10">
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt class="col-md-2 text-end">
                @Html.DisplayNameFor(model => model.Genre)
            </dt>

            <dd class="col-md-10">
                @Html.DisplayFor(model => model.Genre)
            </dd>

            <dt class="col-md-2 text-end">
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>

            <dd class="col-md-10">
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>

            <dt class="col-md-2 text-end">
                @Html.DisplayNameFor(model => model.ImageUrl)
            </dt>

            <dd class="col-md-10">
                <img src="@Html.DisplayFor(model => model.ImageUrl)" alt="@Html.DisplayFor(model => model.Name)" width="150" />
            </dd>

            <dt class="col-md-2 text-end">
                @Html.DisplayNameFor(model => model.Coordinator)
            </dt>

            <dd class="col-md-10">
                @Html.DisplayFor(model => model.Coordinator)
            </dd>
        </div>
    </dl>

    <hr />
    <dl class="dl-horizontal">
        <div class="row">
            <dt class="col-md-2 text-end">
                Cast
                <br />
                <span class="badge bg-secondary">
                    @Html.DisplayFor(model => model.ActorsCount) actors
                </span>
            </dt>

            <dd class="col-md-10">
                @if (Model.Actors != null && Model.Actors.Any())
                {
                    <div>
                        @foreach (var actor in Model.Actors)
                        {
                            <div>@actor.Name</div>
                        }
                    </div>
                }
                else
                {
                    <p>No actors available</p>
                }
            </dd>
            
        </div>
    </dl>
    <hr />
    <dl class="dl-horizontal">
        <div class="row">
            <dt class="col-md-2 text-end">
                Episodes
                <br />
                <span class="badge bg-secondary">
                    @Html.DisplayFor(model => model.EpisodesCount) episodes
                </span>
            </dt>

            <dd class="col-md-10">
                @if (Model.Episodes != null && Model.Episodes.Any())
                {
                    <div>
                        @foreach (var episode in Model.Episodes)
                        {
                            <div>@episode.Name</div>
                        }
                    </div>
                }
                else
                {
                    <p>No episode available</p>
                }
            </dd>
        </div>
    </dl>
</div>
<p>
    @if (RequestUser.HasRoleClaim("Clerk"))
    {
        @Html.ActionLink("Add New Episode", "AddEpisode", new { Id = Model.Id })
    } | 
    @Html.ActionLink("Back to List", "Index")
</p>
